<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar Contraseña</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/cambiopassword.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">\
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm" style="background: #000000;">
        <a class="navbar-brand" id="navbardrop" href="/HTML/menuprincipal.html">E Administrador</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Administración
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/HTML/listaconsecutivos.html">Consecutivos</a>
                    <a class="dropdown-item" href="/HTML/listatarjetas.html">Tarjetas
                        Credito/Debito</a>
                    <a class="dropdown-item" href="/HTML/listaprocesdor.html">Metodos de pago</a>
                    <a class="dropdown-item" href="/HTML/listatiposprecios.html">Tipo de Precio</a>
                    <a class="dropdown-item" href="/HTML/listatiquetes.html">Tiquetes de
                        Descuento</a>
                    <a class="dropdown-item" href="/HTML/listalineacomida.html">Lineas de Comida
                        <a class="dropdown-item" href="/HTML/listaproductos.html">Productos</a>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Seguridad
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/HTML/listaususario.html">Usuarios</a>
                    <a class="dropdown-item" href="#">Roles</a>
                    <a class="dropdown-item" href="/HTML/cambiopassword.html">Cambiar Contraseña</a>
                    <a class="dropdown-item" href="/HTML/crearusuario.html">Crear Usuario</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Consultas
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Pedidos</a>
                    <a class="dropdown-item" href="#">Productos</a>
                    <a class="dropdown-item" href="#">Bitacora</a>
                    <a class="dropdown-item" href="#">Errores</a>
                </div>
            </li>
        </ul>
    </nav>

    <h2 style="margin-left: 700px;">Nueva Contraseña</h2>
                <h4 style="margin-left: 700px;">Por favor, introduzca su nueva contraseña en los siguientes campos</h4>

    <div class="container" style="margin-top: 100px; margin-right: 100px;">
        <form action="/ProyectoWeb/E-Food/HTML/OpcionesUsuario.html">
            <div class="row">
                


                <div style="text-align: center;">
                    <p>Introduzca ID del su Usuarios Nuevamente</p>
                    <input type="number" name="idcambiar" id="idcambiar" placeholder="Codigo Usuario" required>
                    <p>Introduzca una nueva contraseña</p>
                    <input type="password" name="contrasena1" id="contrasena1" placeholder="Nueva Contraseña" required>
                    <input type="password" name="contrasenaRe" id="contrasenaRe" placeholder="Confirmar Contraseña"
                        required>
                    <input type="submit" id="btnCambiar2" value="Cambiar Contraseña">
                </div>


            </div>
        </form>
    </div>

    <script src="/ProyectoWeb/E-Food/JS/IniciarSesion/cambiarContrasena.js"></script>

        <!-- GTranslate: https://gtranslate.io/ -->
<a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="English" /></a><a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="French" /></a><a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="German" /></a><a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="Spanish" /></a>

<style type="text/css">
<!--
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
</style>

<br /><select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|en">English</option><option value="en|fr">French</option><option value="en|de">German</option><option value="en|es">Spanish</option></select><div id="google_translate_element2"></div>
<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>

</body>



</html>