<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Información Producto</title>

    <link rel="stylesheet" href="/CSS/infoproductos.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
</head>

<body>
    {{> header}}
    <div class="container">
        <h1 style="margin-top : 2rem; margin-bottom : 2rem" class="text-center">Información Producto</h1>

        <form id="frmInfromacionConsecutivo" class="form-horizontal" method="post">
            <fieldset id="fieldset">

                <div class="form-group row">
                    <label class="col-md-1 control-label" for="codigoProducto">Código Producto: </label>
                    <div class="col-md-5">
                        <input id="codigoProducto" name="codigoProducto" type="number" placeholder="Código Producto"
                               class="form-control input-md">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 control-label" for="descripcion">Nombre: </label>
                    <div class="col-md-5">
                        <input id="nombre" name="nombre" type="text" placeholder="Nombre"
                               class="form-control input-md">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 control-label" for="descripcion">Descripción: </label>
                    <div class="col-md-5">
                        <input id="descripcion" name="descripcion" type="text" placeholder="Descripción"
                               class="form-control input-md">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 control-label" for="linea">Código - Linea de Comida: </label>
                    <div class="col-md-5">
                        <input id="codigoLineaComida" name="codigoLineaComida" type="number" placeholder="Código - Linea de Comida"
                               class="form-control input-md">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 control-label" for="contenido">Contenido: </label>
                    <div class="col-md-5">
                        <input id="contenido" name="contenido" type="text" placeholder="Contenido"
                               class="form-control input-md">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 control-label" for="btnRedondo"></label>
                    <div class="col-md-8">
                        <button id="btnEditar" name="btnEditar" type="button" class="btn btn-primary" onclick="editarCallBack()">
                            Editar
                        </button>


                        <button id="btnEliminar" name="btnEliminar" type="button" class="btn btn-primary" onclick="eliminarCallBack()">
                            Eliminar
                        </button>


                        <button id="btnAgregar" name="btnAgregar" type="button" class="btn btn-primary" onclick="agregarCallBack()">
                            Agregar
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        var btnAgregar = document.getElementById("btnAgregar");
        var btnEditar = document.getElementById("btnEditar");
        var btnEliminar = document.getElementById("btnEliminar");

        function agregarCallBack() {
            btnAgregar.setAttribute("formaction", "/InfoProductos/agregarProducto");
            btnAgregar.setAttribute("type", "submit");
        }

        function editarCallBack() {
            btnEditar.setAttribute("formaction", "/InfoProductos/editarProducto");
            btnEditar.setAttribute("type", "submit");
        }

        function eliminarCallBack() {
            btnEliminar.setAttribute("formaction", "/InfoProductos/eliminarProducto");
            btnEliminar.setAttribute("type", "submit");
        }

    </script>


</body>

</html>