<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Información Consecutivos</title>

    <link rel="stylesheet" href="/stylesheets/design.css">
    <link rel="stylesheet" href="/stylesheets/informacionConsecutivo.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {{> header}}
    <h1 style="margin-top : 2rem; margin-bottom : 2rem" id="listaConsecutivos">{{title}}</h1>

    <div class="container">
        <form id="frmInfromacionConsecutivo" class="form-horizontal needs-validation" method="post"
            action="/infoconsecutivos/editar">
            <fieldset id="fieldset">

                <div class="form-group row">
                    <div class="col-md-5">
                        <select name="idConsecutivo" id="idConsecutivo">
                        <option value="">Consecutivo</option>
                        {{#each resultado}}
                        <option value="{{idConsecutivo}}">{{idConsecutivo}}</option>
                        {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <input id="desConsecutivo" name="desConsecutivo" type="text" placeholder="Nueva descripcion"
                            class="form-control input-md" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-5">
                        <input id="valorConsecutivo" name="valorConsecutivo" type="number"
                            placeholder="Nuevo valor del Consecutivo" class="form-control input-md" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-5">
                        <select name="poseePrefijo" id="poseePrefijo">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-5">
                        <input id="prefijo1" name="prefijo1" type="text" placeholder="Nuevo prefijo del Consecutivo"
                            class="form-control input-md" required>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-md-8">
                        <button id="btnRedondoCrearConsecutivo" type="submit" class="btn btn-primary">Modificar
                            Consecutivo</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <button id="btnCancelar" type="button" class="btn btn-primary"
                            onclick="location.href='/listaconsecutivos/listarTodosConsecutivos'">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <h1 style="text-align: center; color: #0f5e13; border-radius: 1rem; background-color: #8ce960; ">
            {{mensaje}}
        </h1>
    </div>

    <script src="/ProyectoWeb/E-Food/JS/Informacion/Modificar/modificarConsecutivo.js"></script>

</body>

</html>