<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Usuarios</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/listausuario.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">\
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</head>

<body>
  <nav class="navbar navbar-expand-sm" style="background: #000000;">
    <a class="navbar-brand" id="navbardrop" href="/HTML/menuprincipal.html">E Administrador</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Administración
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/HTML/listaconsecutivos.html">Consecutivos</a>
                <a class="dropdown-item" href="/HTML/listatarjetas.html">Tarjetas
                    Credito/Debito</a>
                <a class="dropdown-item" href="/HTML/listaprocesdor.html">Metodos de pago</a>
                <a class="dropdown-item" href="/HTML/listatiposprecios.html">Tipo de Precio</a>
                <a class="dropdown-item" href="/HTML/listatiquetes.html">Tiquetes de
                    Descuento</a>
                <a class="dropdown-item" href="/HTML/listalineacomida.html">Lineas de Comida
                    <a class="dropdown-item" href="/HTML/listaproductos.html">Productos</a>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Seguridad
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/HTML/listaususario.html">Usuarios</a>
                <a class="dropdown-item" href="#">Roles</a>
                <a class="dropdown-item" href="/HTML/cambiopassword.html">Cambiar Contraseña</a>
                <a class="dropdown-item" href="/HTML/crearusuario.html">Crear Usuario</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Consultas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Pedidos</a>
                <a class="dropdown-item" href="#">Productos</a>
                <a class="dropdown-item" href="#">Bitacora</a>
                <a class="dropdown-item" href="#">Errores</a>
            </div>
        </li>
    </ul>
</nav>

    <img class="img1"  style="margin-left: 15%;" src="/ProyectoWeb/E-Food/IMG/background.jpg" alt="">

    <div class="menuPrincipalCrearSesion">
        <div class="welcome">
            <h1 style="margin-left: 700px;">Crear Usuario</h1>
        </div>

        <div class="container"  style="margin-top: 100px; margin-right: 100px;">
            <form id="frmCrearSesion" class="form-horizontal">
                <fieldset id="fieldset">
                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="usuario1">Codigo Usuario: </label>
                        <div class="col-md-5">
                            <input id="usuarioId" name="usuarioId" type="number" placeholder="Codigo de Usuario"
                                class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="usuario1">Usuario: </label>
                        <div class="col-md-5">
                            <input id="usuario" name="usuario" type="text" placeholder="Nombre de Usuario"
                                class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="contraseña">Contraseña: </label>
                        <div class="col-md-5">
                            <input id="contrasenia" name="contrasenia" type="password" placeholder="Contraseña"
                                class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="confirmarContraseña">Confirmar Contraseña: </label>
                        <div class="col-md-5">
                            <input id="confirmarContrasenia" name="confirmarContraseña" type="password"
                                placeholder="Confirmar Contraseña" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="email">Correo Electronico: </label>
                        <div class="col-md-5">
                            <input id="email" name="email" type="email" placeholder="Correo Electronico"
                                class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-1 control-label" for="rol">Rol de Usuario: </label>
                      <div class="col-md-5">
                          <select name="rol" id="rol">
                            <option value=""></option>
                              <option value="1">1. Administrador</option>
                              <option value="2">2. Seguridad</option>
                              <option value="3">3. Mantenimiento</option>
                              <option value="4">4. Consulta</option>
                          </select>
                      </div>
                  </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="preguntaSeguridad">Pregunta de Seguridad: </label>
                        <div class="col-md-5">
                            <select name="preguntaSeguridad" id="preguntaSeguridad">
                                <option value="1">Nombre de Primera Mascota</option>
                                <option value="2">Equipo de Basketball favorito</option>
                                <option value="3">Nombre de tu abuelo/a</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="emial">Respuesta de Seguridad: </label>
                        <div class="col-md-5">
                            <input id="respuestaSeguridad" name="respuestaSeguridad" type="text"
                                placeholder="Respuesta de Seguridad" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label" for="estado">Estado del Usuario: </label>
                        <div class="col-md-5">
                            <select name="estado" id="estado">
                              <option value=""></option>
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 control-label" for="btnRedondo"></label>
                        <div class="col-md-8">
                            <button id="btnRedondoCrearUsuario" type="button" class="btn btn-primary">
                                Crear Usuario</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    </div>

    <script src="/ProyectoWeb/E-Food/JS/JSListas/crearUsuariosv2.js"></script>
        <!-- GTranslate: https://gtranslate.io/ -->
<a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="English" /></a><a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="French" /></a><a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="German" /></a><a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="Spanish" /></a>

<style type="text/css">
<!--
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
</style>

<br /><select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|en">English</option><option value="en|fr">French</option><option value="en|de">German</option><option value="en|es">Spanish</option></select><div id="google_translate_element2"></div>
<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>

</body>

</html>